# Enunciado

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

## Preparación de datos (1.0pt)

Explore el archivo `covid19_confirmados.csv` y utilice la función `pd.read_csv` para importarlo como un `DataFrame` considerando las siguientes indicaciones:

1. Utilice el nombre de país como índice.
1. Elimine las columnas `Lat` y `Long`.
1. Use TimeStamps para las columnas asociadas a fechas.
1. Reduzca la columna `Province/State`. El DataFrame resultante debe tener los totales a nivel país.

In [ ]:
#data_conf_popu[pd.to_datetime("2022/01/22")] para llamar una columna

In [4]:
data = pd.read_csv('data/covid19_confirmados.csv',
                   index_col='Country/Region'
                 )
data.drop(['Lat','Long'],axis=1,inplace=True)

data_confirmados = data.groupby('Country/Region',sort=True).sum()
data_confirmados.columns = pd.to_datetime(data_confirmados.columns)

C:\Users\casan\AppData\Local\Temp\ipykernel_12476\1537681488.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data_confirmados = data.groupby('Country/Region',sort=True).sum()

Explore el archivo `population_by_country_2020.csv` y utilice la función `pd.read_csv` de pandas para importarlo como un `DataFrame`. Utilice el nombre de país como índice principal. 

Nota: Algunos siglas o nombres podrían no calzar con el `DataFrame` anterior, explore y corrija programaticamente dichos errores.

In [5]:
d_popu = pd.read_csv('data/poblacion_mundial2020.csv',
                   index_col='Country (or dependency)'
                 )
data_popu = d_popu.rename_axis('Country/Region')
data_popu

,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
Country/Region,,,,,,,,,,
China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4993,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3497,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1628,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1360,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Holy See,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [ ]:
# no terminado

data_xd = data_confirmados.merge(data_popu, how='left',on='Country/Region')
t = data_xd['Population (2020)'] == 'NaN'
#nans = data_xd[t]
#nans
t

Realice un `merge` de los `DataFrame` anteriores. El objetivo es asignar un valor de `Population` a cada elemento del primer `DataFrame`. Indique las filas donde no se puede realizar el `merge` y luego descártelas de su `DataFrame` final.

In [7]:
data_conf_popu = data_confirmados.merge(data_popu, how='inner', left_index=True, right_index=True)
data_conf_popu.drop(['Yearly Change', 'Net Change',
       'Density (P/Km²)', 'Land Area (Km²)', 'Migrants (net)',
       'Fert. Rate', 'Med. Age', 'Urban Pop %', 'World Share'],
        axis=1,
        inplace=True)

data_conf_popu

,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,2020-01-28 00:00:00,2020-01-29 00:00:00,2020-01-30 00:00:00,2020-01-31 00:00:00,...,2022-04-02 00:00:00,2022-04-03 00:00:00,2022-04-04 00:00:00,2022-04-05 00:00:00,2022-04-06 00:00:00,2022-04-07 00:00:00,2022-04-08 00:00:00,2022-04-09 00:00:00,2022-04-10 00:00:00,Population (2020)
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,177803,177827,177897,177932,177974,177974,177974,177974,177974,39074280
Albania,0,0,0,0,0,0,0,0,0,0,...,273823,273870,273913,274000,274055,274108,274136,274191,274219,2877239
Algeria,0,0,0,0,0,0,0,0,0,0,...,265684,265691,265694,265699,265705,265707,265714,265720,265724,43984569
Andorra,0,0,0,0,0,0,0,0,0,0,...,40024,40024,40024,40024,40024,40328,40328,40328,40328,77287
Angola,0,0,0,0,0,0,0,0,0,0,...,99194,99194,99194,99194,99194,99194,99194,99194,99194,33032075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,0,0,0,0,0,0,0,0,0,0,...,520708,520843,520905,521030,521105,521186,521325,521373,521471,28421581
Vietnam,0,2,2,2,2,2,2,2,2,2,...,9716282,9818328,9867045,9922040,9980464,10070692,10135789,10169929,10198236,97490013
Yemen,0,0,0,0,0,0,0,0,0,0,...,11806,11806,11808,11812,11812,11812,11812,11813,11813,29935468
Zambia,0,0,0,0,0,0,0,0,0,0,...,317031,317031,317110,317221,317358,317483,317483,317483,317483,18468257
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,246481,246525,246612,246744,246803,246870,246925,246925,246958,14899771

Repita el procedimiento para los archivos `covid19_recuperados.csv` y `covid19_muertes.csv`.

In [13]:
# Importar datas
data_muerte = pd.read_csv('data/covid19_muertes.csv', index_col='Country/Region')
data_muerte.drop(['Lat','Long'],axis=1,inplace=True)
data_muertes = data_muerte.groupby('Country/Region',sort=False).sum()
data_muertes.columns = pd.to_datetime(data_muertes.columns)


data_recu = pd.read_csv('data/covid19_recuperados.csv', index_col='Country/Region')
data_recu.drop(['Lat','Long'],axis=1,inplace=True)
data_recuperados = data_recu.groupby('Country/Region',sort=False).sum()
data_recuperados.columns = pd.to_datetime(data_recuperados.columns)

# Merge muertes-poblacion
data_mrt_popu = data_muertes.merge(data_popu, how='inner', left_index=True, right_index=True)
data_mrt_popu.drop(['Yearly Change', 'Net Change',
       'Density (P/Km²)', 'Land Area (Km²)', 'Migrants (net)',
       'Fert. Rate', 'Med. Age', 'Urban Pop %', 'World Share'],
        axis=1,
        inplace=True)

# Merge recuperados-poblacion
data_recu_popu = data_recuperados.merge(data_popu, how='inner', left_index=True, right_index=True)
data_recu_popu.drop(['Yearly Change', 'Net Change',
       'Density (P/Km²)', 'Land Area (Km²)', 'Migrants (net)',
       'Fert. Rate', 'Med. Age', 'Urban Pop %', 'World Share'],
        axis=1,
        inplace=True)

C:\Users\casan\AppData\Local\Temp\ipykernel_12476\3660133976.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data_muertes = data_muerte.groupby('Country/Region',sort=False).sum()
C:\Users\casan\AppData\Local\Temp\ipykernel_12476\3660133976.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data_recuperados = data_recu.groupby('Country/Region',sort=False).sum()

## Análisis global (1.5pt)

Escriba una función que reciba una fecha y que retorne las siguientes series: 

1. Tasa de incidencia: Casos confirmados por 100.000 dividido población total.
1. Tasa de recuperación: Casos recuperados por 100.000 dividido población total.
1. Tasa de mortalidad: Casos decesos por 100.000 dividido población total.

Ahora, considerando los siguientes dos puntos temporales:

- 22 de Enero de 2021.
- 22 de Enero de 2022.

Muestre los nombres y los valores de los 3 países con:

1. La mayor y menor tasa de incidencia, respectivamente.
1. La mayor y menor tasa de recuperación, respectivamente.
1. La mayor y menor tasa de mortalidad, respectivamente.

Muestre también la posición de Chile en el ranking.

In [16]:
# Tasa de incidencia confirmados:
def Tasas(f):
    c = (data_conf_popu[f]*100000)/data_conf_popu['Population (2020)']
    r = (data_recu_popu[f]*100000)/data_conf_popu['Population (2020)']
    m = (data_mrt_popu[f]*100000)/data_conf_popu['Population (2020)']
    
    return c,r,m

In [19]:
# Análisis del 1/22/21:
t_incidencia_1_22_21,t_recuperados_1_22_21,t_muerte_1_22_21 = Tasas(pd.to_datetime('01/22/2021'))
t_incidencia_1_22_21_sorted = t_incidencia_1_22_21.sort_values(ascending=False)
t_recuperados_1_22_21_sorted = t_recuperados_1_22_21.sort_values(ascending=False)
t_muerte_1_22_21_sorted = t_muerte_1_22_21.sort_values(ascending=False)

print('La mayor tasa de incidencia es de: ',t_incidencia_1_22_21.idxmax(),'con ', t_incidencia_1_22_21.max())
print('La menor tasa de incidencia es de: ',t_incidencia_1_22_21.idxmin(),'con ', t_incidencia_1_22_21.min())

print('La mayor tasa de recuperados es de: ',t_recuperados_1_22_21.idxmax(),'con ', t_recuperados_1_22_21.max())
print('La menor tasa de recuperados es de: ',t_recuperados_1_22_21.idxmin(),'con ', t_recuperados_1_22_21.min())

print('La mayor tasa de muerte es de: ',t_muerte_1_22_21.idxmax(),'con ', t_muerte_1_22_21.max())
print('La menor tasa de muerte es de: ',t_muerte_1_22_21.idxmin(),'con ', t_muerte_1_22_21.min())

La mayor tasa de incidencia es de:  Andorra con  12183.16146311799
La menor tasa de incidencia es de:  Kiribati con  0.0
La mayor tasa de recuperados es de:  Andorra con  11045.8421209259
La menor tasa de recuperados es de:  Belgium con  0.0
La mayor tasa de muerte es de:  Peru con  299.4413560627495
La menor tasa de muerte es de:  Cambodia con  0.0

In [20]:
# Encontrar posicion de Chile para enero de 2021
for p in range(t_incidencia_1_22_21_sorted.size):
    if t_incidencia_1_22_21_sorted.index[p] == 'Chile':
        print('Chile se encuentra en la posición',p+1,'de las tasas de incidencia más altas para enero de 2021')
    if t_recuperados_1_22_21_sorted.index[p] == 'Chile':
        print('Chile se encuentra en la posición',p+1,'de las tasas de recuperados más altas para enero de 2021')
    if t_muerte_1_22_21_sorted.index[p] == 'Chile':
        print('Chile se encuentra en la posición',p+1,'de las tasas de muerte más altas para enero de 2021')

Chile se encuentra en la posición 24 de las tasas de recuperados más altas para enero de 2021
Chile se encuentra en la posición 27 de las tasas de muerte más altas para enero de 2021
Chile se encuentra en la posición 41 de las tasas de incidencia más altas para enero de 2021

In [21]:
# Análisis del 1/22/22:
t_incidencia_1_22_22,t_recuperados_1_22_22,t_muerte_1_22_22 = Tasas(pd.to_datetime('01/22/2022'))
t_incidencia_1_22_22_sorted = t_incidencia_1_22_22.sort_values(ascending=False)
t_recuperados_1_22_22_sorted = t_recuperados_1_22_22.sort_values(ascending=False)
t_muerte_1_22_22_sorted = t_muerte_1_22_22.sort_values(ascending=False)

print('La mayor tasa de incidencia es de: ',t_incidencia_1_22_22.idxmax(),'con ', t_incidencia_1_22_22.max())
print('La menor tasa de incidencia es de: ',t_incidencia_1_22_22.idxmin(),'con ', t_incidencia_1_22_22.min())

print('La mayor tasa de recuperados es de: ',t_recuperados_1_22_22.idxmax(),'con ', t_recuperados_1_22_22.max())
print('La menor tasa de recuperados es de: ',t_recuperados_1_22_22.idxmin(),'con ', t_recuperados_1_22_22.min())

print('La mayor tasa de muerte es de: ',t_muerte_1_22_22.idxmax(),'con ', t_muerte_1_22_22.max())
print('La menor tasa de muerte es de: ',t_muerte_1_22_22.idxmin(),'con ', t_muerte_1_22_22.min())

La mayor tasa de incidencia es de:  Andorra con  42730.34274845705
La menor tasa de incidencia es de:  Micronesia con  0.8678220270586908
La mayor tasa de recuperados es de:  Afghanistan con  0.0
La menor tasa de recuperados es de:  Afghanistan con  0.0
La mayor tasa de muerte es de:  Peru con  617.6692790251777
La menor tasa de muerte es de:  Holy See con  0.0

In [22]:
# Encontrar posicion de Chile para enero de 2022
for p in range(t_incidencia_1_22_22_sorted.size):
    if t_incidencia_1_22_22_sorted.index[p] == 'Chile':
        print('Chile se encuentra en la posición',p+1,'de las tasas de incidencia más altas para enero de 2022')
    if t_recuperados_1_22_22_sorted.index[p] == 'Chile':
        print('Chile se encuentra en la posición',p+1,'de las tasas de recuperados más altas para enero de 2022')
    if t_muerte_1_22_22_sorted.index[p] == 'Chile':
        print('Chile se encuentra en la posición',p+1,'de las tasas de muerte más altas para enero de 2022')

Chile se encuentra en la posición 32 de las tasas de muerte más altas para enero de 2022
Chile se encuentra en la posición 61 de las tasas de incidencia más altas para enero de 2022
Chile se encuentra en la posición 104 de las tasas de recuperados más altas para enero de 2022

Ahora realice las siguientes gráficas de nube de punto

- Tasa de incidencia Enero 2021 versus Tasa de incidencia Enero 2022.
- Tasa de mortalidad Enero 2021 versus Tasa de incidencia Enero 2022.

En cada una:

- Utilice color para demarcar el [continente](https://www.kaggle.com/datasets/statchaitya/country-to-continent) de cada país.
- Realice una anotación con el código del pais cercano a su punto: https://country-code.cl/es/.
- Utilice un tamaño relativamente más grande para Chile.
- Considere las buenas prácticas vistas en clases.

In [ ]:
continentes = pd.read_csv('countryContinent.csv', usecols=['country','continent','code_2'], index_col='country')
tablas = continentes.rename_axis('Country/Region')
tablas['incidencia 2021'] = t_incidencia_1_22_21
tablas['incidencia 2022'] = t_incidencia_1_22_22
tablas['mortalidad 2021'] = t_muerte_1_22_21
tablas.dropna();

In [ ]:
table_reset_index = tablas.reset_index( level= 0,drop=False,inplace=False)
table_reset_index.dropna(inplace=True);
table_reset_index.set_index(['continent','Country/Region'],inplace=True)
table_reset_index;

In [ ]:
# Tasa de incidencia Enero 2021 versus Tasa de incidencia Enero 2022.
%matplotlib notebook

idx = pd.IndexSlice

fig, ax = plt.subplots(figsize=(10, 6), tight_layout=True)

ax.scatter(x=table_reset_index.loc[idx['Asia',:],'incidencia 2021'],
           y=table_reset_index.loc[idx['Asia',:],'incidencia 2022'],s=5,c='r',alpha=0.5,label='Continente Asiático')

ax.scatter(x=table_reset_index.loc[idx['Europe',:],'incidencia 2021'],
           y=table_reset_index.loc[idx['Europe',:],'incidencia 2022'],s=5,c='b',alpha=0.5,label='Continente Europeo')

ax.scatter(x=table_reset_index.loc[idx['Americas',:],'incidencia 2021'],
           y=table_reset_index.loc[idx['Americas',:],'incidencia 2022'],s=5,c='magenta',alpha=0.5,label='Continente Americano')

ax.scatter(x=table_reset_index.loc[idx['Oceania',:],'incidencia 2021'],
           y=table_reset_index.loc[idx['Oceania',:],'incidencia 2022'],s=5,c='orange',alpha=0.5,label='Continente Oceánico')

ax.scatter(x=table_reset_index.loc[idx['Africa',:],'incidencia 2021'],
           y=table_reset_index.loc[idx['Africa',:],'incidencia 2022'],s=5,c='g',alpha=0.5,label='Continente Africano')

ax.scatter(x=table_reset_index.loc[idx[:,'Chile'],'incidencia 2021'],
           y=table_reset_index.loc[idx[:,'Chile'],'incidencia 2022'],s=100,c='k',alpha=0.5,label='Chile')

c=0
for x in table_reset_index.iloc[:,0]:
    label= x
    plt.annotate(label,(table_reset_index.iloc[c,1],table_reset_index.iloc[c,2]),ha='center',fontsize=6)
    c=c+1

ax.set_xlabel('Incidencia enero 2021',fontsize=13)
ax.set_ylabel('Incidencia enero 2022',fontsize=13)
ax.legend();

In [ ]:
# Tasa de mortalidad Enero 2021 versus Tasa de incidencia Enero 2022.
%matplotlib notebook

idx = pd.IndexSlice

fig, ax = plt.subplots(figsize=(10, 6), tight_layout=True)

ax.scatter(x=table_reset_index.loc[idx['Asia',:],'mortalidad 2021'],
           y=table_reset_index.loc[idx['Asia',:],'incidencia 2022'],s=5,c='r',alpha=0.5,label='Continente Asiático')

ax.scatter(x=table_reset_index.loc[idx['Europe',:],'mortalidad 2021'],
           y=table_reset_index.loc[idx['Europe',:],'incidencia 2022'],s=5,c='b',alpha=0.5,label='Continente Europeo')

ax.scatter(x=table_reset_index.loc[idx['Americas',:],'mortalidad 2021'],
           y=table_reset_index.loc[idx['Americas',:],'incidencia 2022'],s=5,c='magenta',alpha=0.5,label='Continente Americano')

ax.scatter(x=table_reset_index.loc[idx['Oceania',:],'mortalidad 2021'],
           y=table_reset_index.loc[idx['Oceania',:],'incidencia 2022'],s=5,c='orange',alpha=0.5,label='Continente Oceánico')

ax.scatter(x=table_reset_index.loc[idx['Africa',:],'mortalidad 2021'],
           y=table_reset_index.loc[idx['Africa',:],'incidencia 2022'],s=5,c='g',alpha=0.5,label='Continente Africano')

ax.scatter(x=table_reset_index.loc[idx[:,'Chile'],'mortalidad 2021'],
           y=table_reset_index.loc[idx[:,'Chile'],'incidencia 2022'],s=100,c='k',alpha=0.5,label='Chile')

c=0
for x in table_reset_index.iloc[:,0]:
    label= x
    plt.annotate(label,(table_reset_index.iloc[c,3],table_reset_index.iloc[c,2]),fontsize=5)
    c=c+1

ax.set_xlabel('Mortalidad enero 2021',fontsize=13)
ax.set_ylabel('Incidencia enero 2022',fontsize=13)
ax.legend();

En base a los rankings y gráficas de nube de punto analice y discuta sobre el caso de Chile considerando las siguientes preguntas guía:

- ¿A qué países del mundo se parece más?
- ¿A qué países de América Latina se parece más?
- ¿A qué países de la [OCDE](https://es.wikipedia.org/wiki/Organizaci%C3%B3n_para_la_Cooperaci%C3%B3n_y_el_Desarrollo_Econ%C3%B3micos) se parece más?

## Análisis comparativo (1.5pt)

Construya una interfaz gráfica usando `ipywidgets` y `matplotlib` que permita realizar comparaciones entre las series de tiempo de COVID-19 de dos países seleccionados arbitrariamente. A modo de simplificación considere sólo los países de la [OCDE](https://es.wikipedia.org/wiki/Organizaci%C3%B3n_para_la_Cooperaci%C3%B3n_y_el_Desarrollo_Econ%C3%B3micos). 

Requerimientos:

1. La interfaz debe incluir controles para escoger dos países a partir de una lista.
1. La interfaz debe incluir tres [tabs](https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20List.html#Tabs), el primero debe mostrar las series de tiempo de ambos países de los casos confirmados, el segundo la de recuperados y el tercero la de los decesos, respectivamente. Use una leyenda para indicar el nombre de los países.
1. La interfaz debe tener un control que permita escoger entre casos acumulados y casos nuevos. Hint: Para los casos nuevos pueden revisar la función [`diff`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.diff.html).
1. La interfaz debe tener un control que permita escoger entre valores absolutos y valores relativos (tasas por 100.000 habitantes).
1. La interfaz debe tener un control que permita escoger entre valores diarios y valores semanales. Para esto último se recomienda usar `groupby` con una [frecuencia lunes a lunes](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#anchored-offsets).

## Dashboard interactivo (1.0pt)

Implemente un *dashboard web* interactivo a partir de la interfaz desarrollada en el punto anterior utilizando la librería [voila](https://github.com/voila-dashboards/voila). Sirva su interfaz en la nube, para esto puede considerar los servicios gratuitos [binder](https://mybinder.org/) o [heroku](https://www.heroku.com/free). Revise la documentación de voila [con respecto a *deployment* en la nube](https://voila.readthedocs.io/en/stable/deploy.html) y este repositorio con [un ejemplo en base a heroku](https://github.com/voila-dashboards/voila-heroku). 

Escriba el link de su dashboard web a continuación:

## Discusión final (1.0pt)

En base a su interfaz:   

1. Describa en detalle la situación de Chile con respecto a la evolución temporal de las series de tiempo. Destaque patrones y comportamientos que considere relevantes. Compare lo que observa en las distintas series de tiempo. 
1. Considerando la evolución a nivel de semana, conteste ¿En qué fechas ocurre un aumento o disminución notoria de los casos? ¿En qué fechas hay máximos y mínimos?
1. Considerando métricas que sean relativas compare el caso de Chile contra cinco países de la OCDE seleccionados por ustedes. Destaque semejanzas y diferencias considerando las cantidades y los posibles desfases temporales existentes.